<h2>List of Users </h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm" id="mytable">
          <thead>
            <tr>
              <th>email</th>
              <th>password</th>
              <th>created_on</th>
              <th>mp</th>
              <th>exp</th>
               </tr>
          </thead>
          <tbody>
              {{#if user}}
            
            {{#each user}}
            <tr>
              <td>{{email}}</td>
              <td>{{password}}</td>
              <td>{{created_on}}</td>
              <td>{{mp}}</td>
              <td>{{exp}}</td>
              {{/each}}   
            {{else}}
             <tr>
              <td colspan="4"> No users Found</td>
            </tr>
            {{/if}}
          </tbody>
        </table>   